<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="Web">
            <directory>Web</directory>
        </testsuite>
        <testsuite name="Internal">
            <directory>Internal</directory>
        </testsuite>
        <testsuite name="Util">
            <directory>Util</directory>
        </testsuite>
    </testsuites>
</phpunit>